<html>
    <head>
    </head>
    <body>
      <table>
        <tbody>
            <tr>
              <td><a href='/List'><%= data.backToListText %></a></td>
            </tr>
            <tr>
                <td><%= data.messageStart %> <b><%= data.userName %></b> <%= data.messageEnd %></td>
            </tr>
            <tr>
                <td><a href='/'><%= data.backToFormText %></a></td>
            </tr>
        </tbody>
      </table>
    </body>
    </html>
